<h2 class="pt-3">Films</h2>
<hr>
<div class="container pt-md-3">
  <div *ngIf="!films.length" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="row">
    <div *ngFor="let film of films" class="col-sm-6 col-md-4 col-lg-3 col-12 pb-3">
      <div class="card">
          <img src="assets/img/films/{{film.episode_id}}.jpg" class="card-img-top" alt="Episode {{film.episode_id}}">
          <div class="card-body">
            <h5 class="card-title">{{film.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Release Date: {{film.release_date | date}}</h6>
            <p class="card-text">{{film.opening_crawl | slice:0:150}}... <a routerLink="/films/{{film.episode_id}}">More</a></p>
            <ul>
              <li *ngFor="let person of people">
                <a routerLink="/people/{{person.id}}" class="card-link">{{person.name}}</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>