<h2 class="pt-3">Characters</h2>
<hr>
<div class="container pt-3 pb-4">
  <div *ngIf="!characters" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="row">
    <div *ngFor="let character of characters" class="col-sm-6 col-md-4 col-lg-3 col-12 pb-3">
      <div class="card">
          <img src="assets/img/characters/{{getCharacterId(character.url)}}.jpg" class="card-img-top" alt="Episode {{character.name}}">
          <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><span style="text-transform: capitalize">{{character.gender === 'n/a' ? 'Robot' : character.gender}}</span></h6>
            <p>Birth Year: {{character.birth_year}}</p>
            <a routerLink="/characters/{{getCharacterId(character.url)}}">More Details</a>
          </div>
        </div>
    </div>
  </div>
  <button *ngIf="more"
        class="btn btn-primary mt-2"
        (click)="loadMore()"
        [disabled]="isLoadingMore">
    {{!characters || isLoadingMore ? 'loading...' : 'Load more'}}
  </button>
</div>